body {
  background: gray;
}

canvas {
  background: black;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}